@model MyPersonalBlog.Models.Settings

@{
    ViewBag.Title = "Настройки";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Настройки</h2>

@using (Html.BeginForm("Save", "Settings", FormMethod.Post, new { role = "form", @class = "form" }))
{
    @Html.ValidationSummary()
    
    @Html.HiddenFor(m => m.Id);
    
    <div class="row">
        <div class="form-group col-sm-5">
            @Html.LabelFor(m => m.AdminEmail)
            @Html.TextBoxFor(m => m.AdminEmail, new { @class = "form-control", maxlength = 254 })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-5">
            @Html.LabelFor(m => m.PostListPageSize)
            @Html.TextBoxFor(m => m.PostListPageSize, new { @class = "form-control", maxlength = 2 })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-5">
            @Html.LabelFor(m => m.PageSize)
            @Html.TextBoxFor(m => m.PageSize, new { @class = "form-control", maxlength = 2 })
        </div>
    </div>

    <br />
    
    <button type="submit" class="btn btn-success">Сохранить</button>
}