@using MyPersonalBlog.Models
@model Post

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-primary">@Model.Title</h2>

<hr />

<p class="text-justify">@Model.IntroText</p>

<p class="text-justify">@Model.MainText</p>

@foreach (var tag in Model.Tags)
{
     <span class="label label-success">@tag.Name</span>
}

<span class="small text-muted">@Model.CreateDate.ToString("dd/MM/yyyy HH:mm")</span>

<hr />

<h4 class="text-muted">Комментарии</h4>

<div class="comments">
    @foreach (var comment in Model.Comments)
    {
        <span class="glyphicon glyphicon-user usericon"></span><span class="text-info username">@comment.Username</span><time class="text-muted small">@comment.CreateDate.ToString("dd/MM/yyyy HH:mm")</time>
        <p>@comment.Text</p>
        <hr />
    }

    @if (Model.Comments.Count == 0)
    {
        <p class="text-muted">Пока никто не оставил комментарий</p>
    }
</div>

@Html.Partial("_CommentForm", new Comment(), new ViewDataDictionary { { "PostId", ViewContext.RouteData.Values["id"] } })