@using MyPersonalBlog.Models
@model Post

@{
    
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.ActionName</h2>

@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { role = "form", @class = "form" }))
{
    @Html.ValidationSummary();

    <div class="form-group">
        <label>Заголовок:</label>
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Вводный текст:</label>
        @Html.TextAreaFor(m => m.IntroText, new { @class = "form-control", rows = 5 })
    </div>
    <div class="form-group">
        <label>Основной текст</label>
        @Html.TextAreaFor(m => m.MainText, new { @class = "form-control", rows = 10 })
    </div>
    <div class="form-group">
        <label>Дата создания:</label>
        @Html.TextBoxFor(m => m.CreateDate, Model.CreateDate.ToString("dd.MM.yyyy HH:mm:ss"), new { @class = "form-control", data_val = "false" })
    </div>
    <div class="form-group">
        <label>Опубликован:</label>
        @Html.CheckBoxFor(m => m.Published, new { @class = "checkbox checkbox-inline" })
    </div>

    <h4>Тэги:</h4>
    <div class="form-group">
        @foreach (Tag tag in ViewBag.Tags)
        {
            <input type="checkbox" name="selectedTags" class="checkbox checkbox-inline" value="@tag.Id" @(Model.Tags.Contains(tag) ? "checked=\"checked\"" : "") />
            <span class="tag">@tag.Name</span>
        }
    </div>

    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="@(Session["PostsListUrlWithParams"] ?? Url.Action("List", "Posts"))" class="btn btn-warning">Назад</a>       
}
