@using MyPersonalBlog.Models
@using PagedList.Mvc;
@model  PagedList.IPagedList<Post>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Все записи</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.ActionLink("ID", "List", "Posts", new { orderby = "id" }, null)</th>
            <th>Title</th>
            <th>CreateDate</th>
            <th>Published</th>
            <th colspan="2" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Id</td>
                <td>@post.Title</td>
                <td>@post.CreateDate</td>
                <td>@post.Published</td>
                <td>@Html.ActionLink("Edit", "Edit", "Posts", new { id = @post.Id }, new { @class = "btn btn-success btn-sm" })</td>
                <td><button type="submit" class="btn btn-danger btn-sm">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">@Html.ActionLink("Новый пост", "Edit", "Posts", null, new { @class = "btn btn-success" })</div>
        <div class="col-sm-4">@Html.PagedListPager(Model, page => Url.Action("List", "Posts", new { page }))</div>
        <div class="col-sm-4">Показывать неопубликованные: @Html.CheckBox("show-unpublished-checkbox", true, new { @class = "checkbox checkbox-inline" })</div>
    </div>
</div>

<script>
    $("[id='show-unpublished-checkbox']").bootstrapSwitch({ size: 'normal', onText: 'Да', offText: 'Нет', labelWidth: 50, handleWidth: 50 });
</script>