@using MyPersonalBlog.ViewModels;
@using MyPersonalBlog.Models;
@using MyPersonalBlog.Infrastructure;
@using PagedList.Mvc;

@model SearchViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4 class="text-muted">Результаты поиска</h4>

@if (Model == null)
{
    <p>По вашему запросу ничего не найдено</p>
}
else
{
    if (Model.TagId != null)
    {
        <p>Найдено результатов: @Model.CountFounded</p>
    }
    else
    {
        <p>По запросу &quot;@Model.SearchQuery&quot; найдено результатов: @Model.CountFounded</p>
    }
        
    if (Model.CountFounded > 0)
    { 
        <span class="small">Отсортировано&nbsp;</span>
        if (Model.Order == "asc")
        { 
            if (Model.TagId != null)
            {
                @Html.ActionLink("сначала новые", "", "Search", new { tag = Model.TagId }, new { @class = "label label-default" })                
            }
            else
            {
                @Html.ActionLink("сначала новые", "", "Search", new { query = Model.SearchQuery }, new { @class = "label label-default" })
            }
            <span class="label label-primary">&nbsp;сначала старые</span>
        }
        else
        {
            <span class="label label-primary">сначала новые&nbsp;</span>
    
            if (Model.TagId != null)
            {
                @Html.ActionLink("сначала старые", "", "Search", new { tag = Model.TagId, order = "asc" }, new { @class = "label label-default" })
            }
            else
            {
                @Html.ActionLink("сначала старые", "", "Search", new { query = Model.SearchQuery, order = "asc" }, new { @class = "label label-default" })
            }
        }
    }

    foreach (Post item in Model.SearchResults)
    {
        <h3>@Html.ActionLink(item.Title, "View", "Posts", new { id = item.Id }, new { @class = "text-primary" })</h3>
        @Html.SubstringText(item.IntroText, 100);
        <span class="text-muted small">@item.CreateDate.ToString("dd MMMM yyyy в HH:mm")</span>
        if (item.Tags.Count != 0)
        {
            <div class="text-success small">
                Метки: @String.Join(", ", from tag in item.Tags select tag.Name)
            </div>
        }
        <hr />
    }

    if (Model.TagId != null)
    {
        @Html.PagedListPager(Model.SearchResults, page => Url.Action("", "Search", new { Model.SearchQuery, order = Model.Order, page }))
    }
    else
    {
        @Html.PagedListPager(Model.SearchResults, page => Url.Action("", "Search", new { Model.SearchQuery, order = Model.Order, page }))
    }
}