@using MyPersonalBlog.Infrastructure;

<!DOCTYPE html>

<html>
@Html.Partial("_HeadPartial")
<body>
    <div class="container">

        <div class="jumbotron">
            <h2>My Personal Blog</h2>
            <h5>Записки разработчика</h5>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="user-menu">
                        <ul class="nav navbar-nav">
                            <li class="@Html.IsActive("List", "Posts")"><a href="@Url.Action("List", "Posts", new { area = "Admin" })"><span class="glyphicon glyphicon-list-alt"></span>Посты</a></li>
                            <li class="@Html.IsActive("List", "Comments")"><a href="@Url.Action("List", "Comments")"><span class="glyphicon glyphicon-comment"></span>Комментарии</a></li>
                            <li class="@Html.IsActive("List", "Tags")"><a href="@Url.Action("List", "Tags")"><span class="glyphicon glyphicon-tags"></span>Тэги</a></li>
                            <li class="@Html.IsActive("Index", "Settings")"><a href="@Url.Action("Index", "Settings")"><span class="glyphicon glyphicon-cog"></span>Настройки</a></li>
                            <li><a href="~/Manage/Elmah" target="_blank"><span class="glyphicon glyphicon-list-alt"></span>Лог</a></li>
                            <li><a href="@Url.Action("SignOut", "Login")"><span class="glyphicon glyphicon-log-out"></span>Выход</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        }

        <div class="list-content">
            @RenderBody()
        </div>

        <br />
        <footer class="container-fluid text-center footer">
            <p>
                &copy; 2015 Тимур Басыров | Powered by ASP.NET MVC 5
                <div class="social-btns">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/timbasyrov"></a>
                    <a class="github" target="_blank" href="https://github.com/OrenTiger"></a>
                    <a class="linkedin" target="_blank" href="https://ru.linkedin.com/in/tbasyrov"></a>
                </div>
            </p>
        </footer>
    </div>
</body>
</html>
